@font-face {
    font-family: "source_serif_pro";
    src: url("../fonts/sourceserifpro-bold-webfont.woff2") format("woff2"), url("../fonts/sourceserifpro-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal
}
@font-face {
    font-family: "source_serif_pro";
    src: url("../fonts/sourceserifpro-boldit-webfont.woff2") format("woff2"), url("../fonts/sourceserifpro-boldit-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic
}
@font-face {
    font-family: "source_serif_pro";
    src: url("../fonts/sourceserifpro-regular-webfont.woff2") format("woff2"), url("../fonts/sourceserifpro-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "source_serif_pro";
    src: url("../fonts/sourceserifpro-it-webfont.woff2") format("woff2"), url("../fonts/sourceserifpro-ut-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic
}

:root {
    --secundariaPrincipal: #A30015;
}

article h1 {
    color: var(--secundariaPrincipal);
    font-size: 2em;
    font-weight: 700;
    font-family: "source_serif_pro", serif;
    word-break: break-word;
    max-width: 730px;
    hyphens: auto;
    }

    h1{
        color: var(--secundariaPrincipal);
        font-size: 2em;
        font-weight: 700;
        font-family: "source serif pro", serif;
        word-break: break-word;
        max-width: 730px;
        hyphens: auto;
    }